*{

    margin: 0;
    padding: 0;
}
        .container{

            background-color:  #001427;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;


        }
        .container .box{


          
            height: 75vmin;
            width: 63vmin;
            display: flex;
          flex-wrap: wrap;
            border-radius: 3px;
             background-color:#708D81;
             padding: 10px 12px 0px 12px;

           
           
        }
        .container .box  input{

         
            width: 62vmin;
             height: 10vmin;
             text-align: end;
         
             border: 5px solid #001427;
             outline: none;
             font-size: 5.2vmin;
             margin-top: 10px;
           
             
      
             
         

        }
        .container .box  .btn{

            height: 10vmin;
            width: 15vmin;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid #001427;

             padding: 5vmin;
               margin-left: 0.5vmin;
            font-size: 5vmin;
            border-radius: 5px;
            color: #001427;
             
         
           

          

        }
        

        @media (max-width:782px) {

            .container .box  input{
                width: 93%;
                border: 2px solid #001427;
                margin-top: 1px;

            }
            .container .box  .btn {

                height: 8vmin;
                width: 15vmin;
                margin: 1px;
                border: 2px solid #001427;
                


            }
            .container .box {

                height: 80vmin;
                width: 67vmin;

            }
            
            
        }
        #button{

             color: white;
             background-color: #172a3b;
        }